a {color: #37b800;}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {border: solid 5px #37b800;}
.imothm-container {background-color: #f2f3e5;color: #080401;}
.imothm-container .logged-in {height: 25px;}
.imothm-container .site-header {background-image: none;background-color: #061228;color: #f2f3e5;padding: 0 10px;margin: 0;box-shadow: none;z-index: 20;min-height: 180px;}
.site-header.fixed-on-scroll {position: fixed;top: 0;width: 100%;min-height: 100px !important;background-color: #061228;box-shadow: 10px 10px 10px #080401;}
.site-header.fixed-on-scroll .custom-logo {transform: scale(.55);}
.site-header.fixed-on-scroll .spans {display: none;}
.imothm-content.fixed-on-scroll {padding-top: 150px;}
.imothm-container .site-header .toggle .icon.menu {background-image: url("./img/icons.png");background-repeat: no-repeat;background-position: left 0 top;transition: none;}
.imothm-container .site-header .icon.menu:hover, .imothm-container .site-header .handle:focus + .toggle > .icon.menu, .imothm-container .site-header .toggle.clicked > .icon.menu {background-position: left -195px top;}
.imothm-container .site-header .dropdown-menu .header-menu, .imothm-container .site-header .search-toggle #searchform {background-color: #061228;border: solid 2px #37b800;box-shadow: 10px 10px 10px #f2f3e5;}
.imothm-container .header-menu a {font-weight: bold;}
.imothm-container .site-header .custom-logo {max-height: 100px;width: auto;}
.imothm-container .site-header .toggle .icon.search {background-image: url("./img/icons.png");background-repeat: no-repeat;background-position: left -65px top 0;transition: none;-webkit-transition: none;-moz-transition: none;-ms-transition: none;-o-transition: none;}
.imothm-container .site-header .icon.search:hover, .imothm-container .site-header .handle:focus + .toggle > .icon.search, .imothm-container .site-header .toggle.clicked > .icon.search {background-position: left -260px top;}
.imothm-container .site-header .content {padding: 0;min-width: 260px;}
.imothm-container .site-header button.gsc-search-button, .imothm-container .imothm-content-404 #search-submit {border: solid 2px #37b800;color: #37b800;background-color: #061228;padding: 5px;margin: 10px;cursor: pointer;}
.imothm-container .site-header .border-line {position: absolute;bottom: -25px;left: -10px;right: -10px;height: 50px;background-image: url("./img/icons.png");background-repeat: no-repeat;background-position: left 0 top -60px;}
.imothm-container .imothm-content {margin: 20px auto;line-height: 2em;}
.imothm-container .post, .imothm-container .post-full {border-bottom: none;box-shadow: 5px 5px 10px #061228;padding: 0 10px;}
.imothm-container .post-info span {display: block;}
.imothm-container .post-info a {white-space: nowrap;}
.imothm-container .post-info a.current {box-shadow: none;text-decoration: underline;color: #f2f3e5;}
.imothm-container .post {border-bottom: solid 2px #061228;margin-bottom: 20px;}
.imothm-container .imothm-content a {background-color: #061228;border-radius: 50px 50px 50px 0;padding: 5px 10px;box-shadow: 5px 5px #37b800;text-align: center;}
.imothm-container .imothm-content a:hover {box-shadow: none;}
.imothm-container .full-post a {word-break: break-all;}
.imothm-container .homepage-thumbnail a, .imothm-container .archive-thumbnail a {background-color: transparent !important;background-image: none !important;border: none !important;box-shadow: none !important;}
.imothm-container .archive-thumbnail img, .imothm-container .full-image img {max-width: 90%;}
.imothm-container .wp-block-embed iframe {max-width: 90%;}
.imothm-container .comments-area {border-top: solid 2px transparent;}
.imothm-container .site-footer {background-image: none;background-color: #061228;color: #f2f3e5;padding: 5px 10px;margin: 0;box-shadow: none;}
.imothm-container .site-footer .border-line {position: absolute;top: -30px;left: -10px;right: -10px;height: 50px;background-image: url("./img/icons.png");background-repeat: no-repeat;background-position: left 0 bottom 0;}
.imothm-container .site-footer .back-up {text-align: center;color: #37b800;font-size: 12px;margin: -20px 0 10px 0;}
.imothm-container .site-footer .back-up span:hover {color: #f2f3e5;cursor: pointer;}
.imothm-container .site-footer .white-logo {margin: 0 auto;width: 62px;height: 50px;background-image: url("./img/icons.png");background-repeat: no-repeat;background-position: left -128px top 0;transform: scale(.67);transition: none;cursor: pointer;}
.imothm-container .site-footer .white-logo:hover, .imothm-container .site-footer .back-up span:hover + .white-logo {background-position: left -323px top 0;}
.imothm-container .site-footer .footer-content {align-items: flex-end;flex-wrap: wrap-reverse;margin-bottom: 20px;}
.imothm-container .footer-menu, .imothm-container .footer-widget-area {padding: 0;margin-bottom: 20px;}
.imothm-container .site-footer .footer-menu ul {background-color: #061228;border: solid 2px #37b800;padding: 10px;box-shadow: 5px 5px 10px #f2f3e5;}
.imothm-container .footer-widget-area > :first-child {background-color: #080401;background-image: linear-gradient(to right,#080401,#061228);border: solid 2px #37b800;padding: 10px;box-shadow: 5px 5px 10px #f2f3e5;font-weight: bold;}
.imothm-container .site-footer .footer-menu ul:hover, .imothm-container .footer-widget-area > :first-child:hover {box-shadow: none;}
.imothm-container .site-footer .footer-menu ul::before {content: "Me @ social media";}
.imothm-container .site-footer .footer-menu ul {margin: 0 auto;}
.imothm-container .footer-widget-area .widget-title {display: none;}
.imothm-container .site-footer .copyright {font-size: 12px;}
.imothm-container .site-footer .copyright p {margin: 0;}
.home .imothm-container .post {box-shadow: none;}
.home .imothm-container .wp-block-columns {display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: stretch;}
.home .imothm-container .wp-block-column {flex: 1;box-shadow: 5px 5px 10px #061228;padding: 0 10px;background-color: #061228;background-image: linear-gradient(to right,#080401,#061228);color: #f2f3e5;}
.home .imothm-container .wp-block-column h2 {text-decoration: underline;-webkit-text-decoration-color: #37b800;text-decoration-color: #37b800;}
.home .imothm-container .wp-block-column h2::after {display: block;margin: 5px auto 0 auto;content: "";width: 52px;height: 55px;background-image: url("./img/icons.png");background-repeat: no-repeat;}
.home .imothm-container .wp-block-column:nth-of-type(1) h2::after {background-position: left -385px top 0;}
.home .imothm-container .wp-block-column:nth-of-type(2) h2::after {background-position: left -500px top 0;}
.home .imothm-container .wp-block-column:nth-of-type(3) h2::after {background-position: left -437px top 0;width: 57px;}
.home .imothm-container .wp-block-column p {text-align: center;}
.home .imothm-container .calendly {display: block;margin: 0 auto;width: 200px;}
.home .imothm-container h4 {border-top: solid 5px #061228;padding-top: 10px;}
.home .imothm-container .wp-block-latest-posts {display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: stretch;}
.home .imothm-container .wp-block-latest-posts li {flex-basis: 32%;display: flex;flex-direction: column;flex-wrap: wrap;justify-content: center;align-items: center;box-shadow: 5px 5px 10px #061228;padding: 15px;}
.wp-block-latest-posts__featured-image img {min-width: 150px;}
.wp-block-button {color: #37b800;}
.wp-block-button:hover {color: #f2f3e5;}
.has-imochld-dark-background-color {background-color: #061228;}
.has-imochld-dark-color {color: #061228;}
.has-imochld-ice-background-color {background-color: #f2f3e5;}
.has-imochld-ice-color {color: #f2f3e5;}
.has-imochld-green-background-color {background-color: #37b800;}
.has-imochld-green-color {color: #383b3f;}
::-webkit-scrollbar-track {background: #061228;}
::-webkit-scrollbar-thumb {background: #37b800;}
.gsc-control-cse {background-color: #061228 !important;border: none !important;}
iframe[title="Ads by Google"] {display: none !important;}
a.gs-title, .gsc-cursor-page {color: #37b800 !important;background-color: #061228;border-radius: 50px 50px 50px 0;padding: 5px 10px;box-shadow: 5px 5px #37b800;}
a.gs-title:hover, .gsc-cursor-page:hover {color: #f2f3e5 !important;box-shadow: none;}
a.gs-title b {color: #f2f3e5 !important;}
.gs-visibleUrl {color: #061228 !important;}
.gs-snippet b {font-size: 16px !important;text-decoration: underline;color: #061228;}
.gsc-cursor-current-page {color: #061228 !important;background-color: transparent !important;box-shadow: none !important;}
.gcsc-more-maybe-branding-root {display: none;}
.google-form {width: 100%;min-height: 800px;border: solid 1px transparent;}
.cookieinfo {background-color: #061228 !important;background-color: rgba(6,18,40,.85) !important;color: #f2f3e5 !important;text-align: left !important;}
.cookieinfo a {color: #37b800 !important;}
.cookieinfo-close {background-color: #37b800 !important;color: #061228 !important;cursor: pointer !important;z-index: 999 !important;}
.calendly-popup {max-height: 67% !important;}
.foogallery a {background-color: transparent !important;background-image: none !important;border: none !important;box-shadow: none !important;}
.foogallery .fg-item-inner {overflow: hidden;border-radius: 50px 50px 50px 0;box-shadow: 5px 5px #37b800 !important;border: solid 2px #061228 !important;}
.foogallery .fg-item-inner:hover {box-shadow: none !important;}
.imoload-logo-container {width: 485px;height: 375px;background-image: url("./img/imoptimal-logo.png");background-repeat: no-repeat;background-position: left top;transform: scale(.5);}
@media only screen and (max-width: 950px) {.imothm-container .site-header {min-height: 220px;}}
@media only screen and (max-width: 800px) {.home .imothm-container .wp-block-columns, .home .imothm-container .wp-block-latest-posts {flex-wrap: wrap !important;}
	.home .imothm-container .wp-block-column, .home .imothm-container .wp-block-latest-posts li {flex-basis: 100% !important;margin: 10px auto;}}
@media only screen and (max-width: 600px) {.google-form {min-height: 820px;}}
@media only screen and (max-width: 500px) {.google-form {min-height: 900px;}}
@media only screen and (max-width: 400px) {.google-form {min-height: 1000px;}}
html, body {height: 100%;}
body {overflow: auto;}
.calendly-inline-widget, .calendly-inline-widget *, .calendly-badge-widget, .calendly-badge-widget *, .calendly-overlay, .calendly-overlay * {font-size: 16px;line-height: 1.2em;}
.calendly-inline-widget iframe, .calendly-badge-widget iframe, .calendly-overlay iframe {display: inline;width: 100%;height: 100%;}
.calendly-popup-content {position: relative;}
.calendly-popup-content.calendly-mobile {-webkit-overflow-scrolling: touch;overflow-y: auto;}
.calendly-overlay {position: fixed;top: 0;left: 0;right: 0;bottom: 0;overflow: hidden;z-index: 9999;background-color: #a5a5a5;background-color: rgba(31,31,31,.4);}
.calendly-overlay .calendly-close-overlay {position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.calendly-overlay .calendly-popup {box-sizing: border-box;position: absolute;top: 50%;left: 50%;transform: translateY(-50%) translateX(-50%);width: 80%;min-width: 900px;max-width: 1000px;height: 90%;max-height: 680px;}
@media (max-width: 975px) {.calendly-overlay .calendly-popup {position: fixed;top: 50px;left: 0;right: 0;bottom: 0;transform: none;width: 100%;height: auto;min-width: 0;max-height: none;}}
.calendly-overlay .calendly-popup .calendly-popup-content {height: 100%;}
.calendly-overlay .calendly-popup-close {position: absolute;top: 25px;right: 25px;color: #fff;width: 19px;height: 19px;cursor: pointer;background: url("/assets/external/close-icon.svg") no-repeat;background-size: contain;}
@media (max-width: 975px) {.calendly-overlay .calendly-popup-close {top: 15px;right: 15px;}}
.calendly-badge-widget {position: fixed;right: 20px;bottom: 15px;z-index: 9998;}
.calendly-badge-widget .calendly-badge-content {display: table-cell;width: auto;height: 45px;padding: 0 30px;border-radius: 25px;box-shadow: rgba(0,0,0,.25) 0 2px 5px;font-family: sans-serif;text-align: center;vertical-align: middle;font-weight: bold;font-size: 14px;color: #fff;cursor: pointer;}
.calendly-badge-widget .calendly-badge-content.calendly-white {color: #666a73;}
.calendly-badge-widget .calendly-badge-content span {display: block;font-size: 12px;}
.calendly-spinner {position: absolute;top: 50%;left: 0;right: 0;transform: translateY(-50%);text-align: center;z-index: -1;}
.calendly-spinner>div {display: inline-block;width: 18px;height: 18px;background-color: #e1e1e1;border-radius: 50%;vertical-align: middle;-webkit-animation: calendly-bouncedelay 1.4s infinite ease-in-out;animation: calendly-bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.calendly-spinner .calendly-bounce1 {-webkit-animation-delay: -.32s;animation-delay: -.32s;}
.calendly-spinner .calendly-bounce2 {-webkit-animation-delay: -.16s;animation-delay: -.16s;}
@-webkit-keyframes calendly-bouncedelay {0%, 80%, 100% {transform: scale(0);}
	40% {transform: scale(1);}}
@keyframes calendly-bouncedelay {0%, 80%, 100% {transform: scale(0);}
	40% {transform: scale(1);}}