<div class="newsletter-form">
  <!-- Begin Brevo Form -->
  <iframe id="brevo-iframe" width="540" height="305" src="https://5ae4f8f7.sibforms.com/serve/MUIFAIcdG3PDFCsbazkwt08I-x7M4pOt3ve-mCmuHZZ8_k-G4RfqKMV-bC6P5SqLCE4ytLTSLrYtci5sFh8iiDRHbAnV8Y6KiB22j2kr2W-1Y3vdYv3ua6bag8qZfaWtY6ZBYKKgIpMd0LQbLmrko3n-0GnhF0XSRE071nNqTClXRGASs5STrOXbnMpexpLA-A3nOPfizKsEfAp6" frameborder="0" scrolling="auto" allowfullscreen></iframe>
  <!-- End Brevo Form -->
  <div class="close-slide-in" title="Close this form">X</div>
</div>