<div class="slide-in-page">
    <h2>Privacy Policy</h2>
    <div class="section">
        <h3>Who we are</h3>
        <p>Ivan Maljukanović - developer behind this website and all of its activity.</p>
    </div>
    <div class="section">
        <h3>What personal data I collect and why it's collected</h3>
        <p>This website collects personal data through the consultation scheduling form by <a href="https://simplymeet.me/en/"
                target="_blank" rel="noreferrer noopener nofollow">SimplyMeet.me</a> (which consists of your name, email,
            website and preferred contact
            app information).</p>
            <p>Also, personal data is being collected through the newsletter signup form by <a href="https://www.brevo.com/" target="_blank" rel="noreferrer noopener nofollow">Brevo.com</a> (which consists of your name and email).
            </p>
            <p>Lastly, I collect your e-mail on the services/pricing page if you decide to get an invoice for one of my services. The invoice forms are made with <a href="https://www.tally.so/" target="_blank" rel="noreferrer noopener nofollow">Tally.so</a>
            <p>This data will not be available to anybody else but me, and will not be used for any other purpose (data processing,
                promotions/spamming).</p>
    </div>
    <div class="section">
        <h3>How long is your data stored</h3>
        <p>Personal data from the consultation scheduling form is stored for 30 days. The full information about the
            SimplyMeet.me data
            deletion can be found on this link - <a href="https://simplymeet.me/en/policy" target="_blank"
                rel="noreferrer noopener nofollow">SimplyMeet.me - Privacy Policy</a></p>
        <p>Personal data from the newsletter signup form is stored until you unsubscribe from my mailing list. The full
            information about the Brevo.com data privacy policy can be found on this link - <a
                href="https://www.brevo.com/legal/privacypolicy/" target="_blank" rel="noreferrer noopener nofollow">Brevo.com -
                Privacy Policy Personal Data Protection
            </a></p>
        <p>Personal data from the invoice form is stored until you finish the payment process (then I manually delete it). The full information about the Tally.so data privacy policy can be found on this link - <a
                href="https://tally.so/help/privacy-policy" target="_blank" rel="noreferrer noopener nofollow">Tally.so - Privacy Notice - Tally tool</a></p>
    </div>
    <div class="section">
        <h3>Cookies & Analytics</h3>
        <p>This website is hosted on <a href="https://pages.github.com/" target="_blank" rel="noreferrer noopener nofollow">GitHub Pages</a>, using <a href="https://www.cloudflare.com/cdn/" target="_blank" rel="noreferrer noopener nofollow">Cloudflare CDN</a> for better user experience (faster load time of webpages).</p>
        <p>For improving user experience based on real user data, this website is using <a href="https://clarity.microsoft.com/"
                target="_blank" rel="noreferrer noopener nofollow">Microsoft Clarity</a>. The data collected is anonymized, but
            if you want to be excluded from this - you can revoke your consent under the Analytics section in cookie consent
            form.</p>
        <p>Mentioned services use their own functional cookies, and their data usage is beyond my control and responsibility.</p>
        <p>The expiry date of your given consent to our cookies is set to indefinite. Only after you delete your browser cookies, you'll be asked again for the consent.</p>
        <p>Lastly, this website uses a cache in order to store its files on your device for a short period, and provide almost instant page load (after the initial visit when those files are downloaded).</p>
    </div>
    <div class="section">
        <h3>Embedded content from other websites</h3>
        <p>Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.</p>
        <p>These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are
            logged in to that website.</p>
    </div>
</div>