<div class="slide-in-page">
    <h2>Privacy Policy</h2>
    <div class="section">
        <h3>Who we are</h3>
        <p>Ivan Maljukanović - developer behind this website and all of its activity.</p>
    </div>
    <div class="section">
        <h3>What personal data we collect and why we collect it</h3>
        <p>This website collects personal data through the consultation scheduling form by <a href="https://calendly.com/" target="_blank" rel="noreferrer noopener nofollow">Calendly</a> (which consists of your name, email, website and preferred contact
            app information). This data will not be available to anybody else but me, and will not be used for any other purpose (data processing, promotions/spamming).</p>
    </div>
    <div class="section">
        <h3>How long we retain your data</h3>
        <p>Personal data from the consultation scheduling form is stored until you request it to be deleted. If you require this data to be deleted, contact me through the contact form below</p>
        <p><b>Note</b>: Use the same email address as the one you used for scheduling, because it's needed in order to notify Calendly which user data to delete. Data will be deleted 7 days after I notified Calendly, and I do my best to check my emails daily.
            The full information about their data deletion can be found on this link - <a href="https://calendly.com/app/organization/settings/data_deletion" target="_blank" rel="noreferrer noopener nofollow">Calendly - Data Deletion</a></p>
        <div class="contact-form">
            <h4>Data deletion request</h4>
            <form action="https://api.staticforms.xyz/submit" method="post">
                <input type="email" name="email" placeholder="Your Email (required field)" required />
                <input type="hidden" name="subject" value="imoptimal.com - Data Deletion Request" />
                <input type="text" name="honeypot" style="display:none">
                <input type="hidden" name="accessKey" value="720bbab6-ab8e-486d-a20d-8238e1e2af48">
                <input type="hidden" name="redirectTo" value="https://imoptimal.com/">
                <input class="submit" type="submit" value="Submit" />
            </form>
        </div>
    </div>
    <div class="section">
        <h3>Cookies & Analytics</h3>
        <p>This website is hosted on <a href="https://pages.github.com/" target="_blank" rel="noreferrer noopener nofollow">GitHub Pages</a>, using <a href="https://www.cloudflare.com/cdn/" target="_blank" rel="noreferrer noopener nofollow">Cloudflare CDN</a> and <a href="https://cloudinary.com/" target="_blank" rel="noreferrer noopener nofollow">Cloudinary</a> for better user experience (faster load time of webpages).</p>
        <p>Mentioned services use their own functional cookies, and their data usage is beyond my control and responsibility.</p>
        <p>The expiry date of your given consent to our cookies is set to infinite. Only after you delete your browser cookies, you'll be asked again for the consent.</p>
        <p>Lastly, this website uses a cache in order to store its files on your device for a short period, and provide almost instant page load (after the initial visit when those files are downloaded).</p>
    </div>
    <div class="section">
        <h3>Embedded content from other websites</h3>
        <p>Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.</p>
        <p>These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are
            logged in to that website.</p>
    </div>
</div>